---
import "../../styles/Global.css";
import BaseLayout from "../../layouts/base-layout.astro";
const res = await (
  await fetch("https://www.themealdb.com/api/json/v1/1/search.php?f=s")
).json();
---

<BaseLayout />
<div class="title-container">

  <h2 class="title">Recipes</h2>
</div>
<section class="recipes-container">
  {
    res.meals.map((recipe) => (
      <article class="recipe-card-container">
        <div class="recipe-image-container">
          <a href={`/recipes/${recipe.strMeal}`}>
            <h4>{recipe.strMeal}</h4>
          </a>
          <a href={`/recipes/${recipe.strMeal}`}>
          <img src={recipe.strMealThumb} alt={recipe.strMeal} />
          </a>
        </div>
      </article>
    ))
  }
</section>
<style>
  .recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    grid-template-rows: 1fr;
    gap: 25px;

    max-width: 85%;
    margin: 0 auto 60px auto;
    
  }

  .recipe-image-container {
    width: 100%;
  }
  .recipe-image-container img {
    width: 100%;
    margin: 12px 0 0 0;
  }

  .title-container{
   display: flex;
   width: 90%;
   justify-content: center;
   align-items: center;
   margin: 110px auto 20px auto;
  }

  a{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(81, 80, 80);
    font-weight: bold;
  }
  @media(min-width:768px){

.recipes-container {
    
    max-width: 55%;
    
  }







  }
</style>
